{% extends 'base.html' %}

{% block title_head %}
<title>Articulo</title>
{% endblock title_head %}

{% block h1_header %}
Datos del articulo {{vender.articulo}}
{% if vender.imagen %}
<img src="{{vender.imagen.url}}" alt="Imagen de {{vender.titulo}}" width="600" height="400">
{% endif %}
{% endblock h1_header %}


{% block contenido %}
<li>Precio: {{vender.precio}} </li>
<li>Fecha de oferta:  {{vender.fecha_de_oferta}} </li>
<li>Descripcion:  {{vender.descripcion | safe}} </li>
<li>Vendedor:  {{vender.vendedor}} </li>
{% endblock contenido %}
